# Identifiants de connexion Neo4j AuraDB
# Copier ce fichier en .env et renseigner ses propres valeurs
# L'URI et le mot de passe se trouvent dans la console AuraDB
# (ou dans le fichier .txt telecharge a la creation de l'instance)

NEO4J_URI=neo4j+s://votre-instance.databases.neo4j.io
NEO4J_USER=neo4j
NEO4J_PASSWORD=votre-mot-de-passe
